<mat-card class="fill">
  <div align="center">

    <br><br><br><br><br><br><br><br>
    <h1>Rhythmic Learning</h1>

    <br><br>
    <div [@fadeIn]="fadeIn">
      <mat-form-field (keyup)="onKey($event)" class="main" appearance="outline">
        <mat-label>Topic</mat-label>
        <input matInput>
      </mat-form-field>
      <br>
      <button mat-raised-button (click)="test()" color="primary">Play</button> &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (mousedown)="startRecording()" (mouseup)="stopRecording()" color="secondary">Hold To
        Record</button>
      <br />
    </div>

    <li *ngFor="let adLib of adLibs">
      <button mat-raised-button (click)="playAudio(adLib.number)">AdLib - {{adLib.number}}</button>
    </li>

    <script type="text/javascript" src="https://raw.github.com/hiddentao/google-tts/master/google-tts.min.js"></script>
  </div>
</mat-card>