<mat-card class="fill">
     <div align="center">
      
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <p class="textStyle"> Why Rhythmic Learning? </p>
        <br><br><br><br><br>
    
    </div>
</mat-card>
<mat-card class="fill">
    <div align="center">
     
       <br><br><br><br><br><br>
       <p class="titleSize">Problem Statement:</p>
       <p class="paragraphSize">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula id justo vitae sagittis. </p>
       <p class="paragraphSize">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula id justo vitae sagittis. </p>
       <p class="paragraphSize">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula id justo vitae sagittis. </p>
       <br><br><br><br><br><br><br>
       <br><br><br>
   
           <br>
           <button mat-raised-button (click)="test()" color="primary">Play</button>
           <br/>
   </div>
</mat-card>
<mat-card class="fill">
    <div align="center">
     
       <br><br><br><br><br><br><br><br>
       <h1>fuck</h1>
       <br><br><br>
       <mat-grid-list cols="3" rowHeight="100px">
          <mat-grid-tile>1</mat-grid-tile>
          <mat-grid-tile>2</mat-grid-tile>
          <mat-grid-tile>3</mat-grid-tile>
        </mat-grid-list>

   </div>
</mat-card>
